  <% @possible_visits.each do |possible_visit| %>
  <p>
    <%= possible_visit.start.strftime("%H:%M") %>
    <%= possible_visit.finish %>
    <%= link_to 'Book', book_visit_path(possible_visit) %>
  </p>
  <% end %>